#service smartmanager /system/bin/smartmanager
#    class main
#    user system
#    group system
#    oneshot
#    seclabel u:r:dumpstate_exec:s0

#on property:sys.boot_completed=1
#on boot
#    start smartmanager

#service smartmanager /system/bin/smartmanager
#    class main
#    user root
#    group root
#    seclabel u:r:init:s0
#    oneshot

#on boot
#    start smartmanager

#on property:sys.boot_completed=1
#    exec_background -- /system/bin/cmd window user-rotation lock 3

#service smartmanager /system/bin/smartmanager.sh
#    class main
#    user root
#    group root
#    oneshot
#    seclabel u:r:init:s0

#on boot
#    start smartmanager
